.streamgraph {
  padding-top: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.legitem {
  display: flex;
  align-items: center;
}

.box {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.tooltip {
  background-color: aliceblue;
}
